{% extends "base.html" %}

{% block content %}
{% from 'bootstrap5/nav.html' import render_nav_item %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav me-auto">

        <a class="nav-item nav-link{% if request.endpoint and request.endpoint == 'index' %} active" aria-current="page{% endif %}"
           href="{{ url_for('index') }}"><i class="fa fa-home"></i>
        </a>
        {{ render_nav_item('homepage', 'Homepage') }}
    </div>
    {% if current_user.is_authenticated %}
    <div class="navbar-nav ms-auto">
        {{ render_nav_item('logout', 'Log out') }}
    </div>
    {% else %}
    <div class="navbar-nav ms-auto">
        {{ render_nav_item('login', 'Log in') }}
        {{ render_nav_item('register', 'Sign up') }}
    </div>
    {% endif %}
</nav>
{% endblock %}