{% extends "layout.html" %}

{% block content %}
{{ super() }}
<form method="post" action="#">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {{ form.title(class="form-control", value=note.title) }}
    </div>
    <div class="form-group">
        {{ form.text.label(class="form-control-label") }}
        {{ form.text(class="form-control", value=note.text) }}
    </div>
    <div class="form-group">
        {{ form.category.label(class="form-control-label") }}
        {{ form.category(class="form-control", value=note.category) }}
    </div>
    <br>
    {{ form.submit }}
</form>
{% endblock %}