{% extends "layout.html" %}

{% block pagetitle %}Notes | {% endblock %}

{% block content %}
{{ super() }}
<div style="margin: 50px;">
<div class="header">
    <h2>Notes</h2>
    <br>
    <a class="ref" href="{{ url_for('create_note', category_id=0)}}">New note</a>
</div>

{% if all_notes %}
{% for note in all_notes %}
<hr>
<h3>{{note.title}}</h3>
<p>
    {{note.text}}
    <br>Category: {{note.category}}
    <br>
    <a class="ref" href="{{ url_for('update_note', id=note['id']) }}">Edit</a>
    <a class="ref" href="{{ url_for('delete_note', id=note['id']) }}">Delete</a>
    <br>
</p>
{% endfor %}
<hr>
{% endif %}
</div>
{% endblock %}